{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "max-classes-per-file": "warn",
    "no-shadow": "warn",
    "no-nested-ternary": "off",
    "no-unused-vars": "off",
    "prefer-const": "off",
    "no-console": "off",
    "eqeqeq": "off"
  }
}
